*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-color: #ff4800;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #737373;
    --text-color: #242426;

    --container-lg: 82%;
    --container-md: 88%;
    --container-sm: 95%;

    --transition: 400ms;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);

    a{
        color: var(--color-white);

        &:hover{
            opacity: 90%;
        }
    }

    .btn{
        color: var(--color-black);
        padding: 0.5rem 0.9rem;
        border: 1px solid var(--color-black);
        border-radius: 0.2rem;
        background: var(--color-white);
        transition: var(--transition);

        &:hover{
            background: var(--color-black);
            border: transparent;
            color: var(--color-white);
        }
    }

    .btn-primary{
        color: var(--color-white);
        padding: 0.5rem 0.9rem;
        border: 1px solid transparent;
        border-radius: 0.2rem;
        background: var(--primary-color);
        transition: var(--transition);

        &:hover{
            background: var(--color-white);
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
        }
    }

    .container{
        width: var(--container-lg);
        margin: 0 auto;
    }

    nav{
        width: 100vw;
        height: 4.5rem;
        background-color: #000;

        .container{
            height: 100%;
            display: flex;
            align-items: center;
            place-content: space-between;

            .logo{
                a{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }

            .navigation{
                ul{
                    width: 20rem;
                    display: flex;
                    flex: 1;
                    align-items: center;
                    place-content: space-between;

                    li{
                        a{
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .primary-navigation{
                ul{
                    width: 9rem;
                    display: flex;
                    flex: 1;
                    align-items: center;
                    place-content: space-between;

                    li{
                        a{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    /*-------------------------------Hero-Section---------------------------*/

    @keyframes animate {
        to{
            filter: hue-rotate(360deg);
        }
    }
    
    header{
        width: 100vw;
        height: calc(100vh - 4.5rem);
        overflow: hidden;
        display: flex;
        align-items: center;

        .container{
            display: flex;
            align-items: center;
            gap: auto;

            .left-colon{
                width: 30rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                small{
                    color: var(--color-grey);
                    font-size: 0.8rem;
                }

                h1{
                    font-weight: 800;
                    font-size: 2.8rem;
                    line-height: 3.5rem;
                    color: var(--text-color);
                }

                p{
                    color: var(--color-grey);
                    font-size: 0.9rem;
                    width: 23rem;
                    line-height: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                }

                .hero-cta{
                    display: flex;
                    flex: 1;
                    gap: 0.5rem;
                    align-items: center;

                    .btn, .btn-primary{
                        padding: 0.5rem 2rem;
                    }
                }

            }

            .right-colon{
                width: 30rem;
                height: 100%;
                position: relative;
                top: 12rem;
                //overflow: hidden;

                .big-circle{
                    position: relative;
                    top: 15rem;
                    right: 0rem;
                    content: '';
                    border-radius: 50%;
                    background-color: var(--primary-color);
                    height: 100rem;
                    aspect-ratio: 1/1;
                    animation: animate 15s ease infinite;

                    .small-circle{
                        position: absolute;
                        top: 20rem;
                        left: 20rem;
                        content: '';
                        border-radius: 50%;
                        background-color: var(--color-white);
                        height: 60rem;
                        aspect-ratio: 1/1;
                    }
    
                    .hero-picture{
                        img{
                            position: absolute;
                            height: 35rem;
                            top: 8rem;
                            left: 10rem;
                            z-index: 9;
                            filter: grayscale(90%);
                        }
                    }
                }

                
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    body{
        header{
            position: relative;
            top: 0rem;
            overflow: hidden;
            height: 50vh;
            display: flex;
            align-items: center;

            .container{
                width: var(--container-md);
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                place-content: space-between;

                .left-colon{
                    margin-top: -10rem;
                }

                .right-colon{
                    top: -10rem;
                    position: relative;

                    .big-circle{
                        position: relative;
                        height: 100%;

                        .small-circle{
                            position: absolute;
                            height: 50%;
                            z-index: 3;
                            background: red;
                        }

                        .hero-picture{
                            position: absolute;
                            img{
                                position: unset;
    
                            }
                        }
                    }
                }
    
    
                .hero-picture{
                    width: 50rem;
                    position: relative;
                    img{
                        display: flex;
                        position: absolute;
                        left: -10rem;
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
        nav{
            //margin-bottom: 10rem;
            display: block;
            .container{
                width: var(--container-sm);
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                .logo{
                    margin-top: 1rem;
                    a{
                        text-align: center;
                    }
                }

                .navigation{
                    display: none;
                }

                .primary-navigation{
                    display: none;
                }
            }
        }

        header{
            display: block;
            text-align: left;
            height: calc(100vh - 4.5rem);
            position: unset;
            overflow: hidden;
            //align-items: center;
            
            .container{
                top: 12rem;
                position: relative;
                width: var(--container-sm);
                margin: 0 auto;
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;


                .left-colon{
                    gap: 1.5rem;
                    width: 100%;

                    small{
                        font-size: 1.2rem;
                    }

                    h1{
                        width: 95%;
                        font-size: 2.8rem;
                    }

                    p{
                        font-size: 1.2rem;
                        width: 80%;
                        line-height: 1.5;
                    }
                }

                .right-colon{
                    margin-top: -10rem;
                    .big-circle{
                        height: 150%;

                        .small-circle{
                            position: absolute;
                            height: 100%;
                            top: 7rem;
                            z-index: 10;
                            //background: white;
                        }

                        .hero-picture{
                            img{
                                position: relative;
                                height: 25rem;
                                bottom: -3rem;
                                top: unset;
                                left: 7rem;
                                right: 5rem;
                            }
                        }
                    }
                }
            }
            

        }
    }
}